*{ padding: 0;
margin: 0;}

body{ background: #222;
color: #fff;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.CRUDS{ width: 80%;
margin: auto;}

.head { text-align: center;
text-transform: uppercase;
margin: 10px 0px;}

input{width: 100%;
padding: 4px;
outline: none; border:  none;
margin: 4px;
color: #ffffff;

background: rgba(122, 6, 255, 0.644);
border-radius: 6px;}

input:focus{background:#030303 ;
transform: scale(1.1);}
.price input{width: 20% ;display: inline-block;}

#total {background: hsl(0, 100%, 31%);
padding: 6px;
margin: 4px;
border-radius: 10px;}
#total::before{content: "Total: " ;}
button{ border-radius: 10px;
padding: 6px;
width: 100%;
border: none;
outline: none; cursor: pointer; transition: 0.5s;
font-size:   medium;}


button:hover{background:#7508bd; letter-spacing: 1.5px;}   
.btnsearch{ display: flex;
justify-content: space-between;
} 
 .btnsearch button{width: 40%;}

 table{ width: 100%;

text-align: center;

margin: 10px 0;}

table th{ text-transform: uppercase;}

td,th{ padding:10px}
#deleteall{ margin: 10px 0;}